/* ===================== TYPES ===================== */
.types__bg {
  background-color: var(--first-color);
  padding: 3rem 2rem 2rem;
  border-radius: 1rem;
}

.types__container {
  gap: 2rem;
  padding-top: 1rem;
}

.types__title {
  color: #fff;
}

.types__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: var(--mb-0-5);

  background-color: var(--container-color);
  padding: 2.5rem 1.5rem 2rem 1.5rem;
  border-radius: 1rem;
}

.types__card_number {
  display: inline-block;
  background-color: var(--first-color-alt);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2-5);
  transition: 0.3s;
  height: fit-content;
  width: fit-content;
}

.types__card_title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

.types__card_description {
  font-size: var(--small-font-size);
}

.types__card_btn {
  margin-top: 2rem;
  background-color: var(--first-color-alt);
  width: 100%;
  color: var(--body-color);
  justify-content: center;
}

.types__card:hover .types__card_number {
  transform: translateY(-0.25rem);
}

/* small */
@media screen and (max-width: 320px) {
  .types__bg {
    padding: 2rem 1rem;
  }

  .types__card {
    padding: 1.5rem;
  }
}

/* medium */
@media screen and (min-width: 1000px) {
  .types__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .types__card {
    min-height: 400px;
  }
}

/* large */
@media screen and (min-width: 1100px) {
  .types__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .types__bg {
    padding: 3.5rem 2.5rem;
  }

  .types__card_title__wrapper {
    display: flex;
    gap: var(--mb-1);
  }

  .types__card_title {
    font-size: var(--h3-font-size);
  }
}
